body {
  font-family: "Roboto", sans-serif;
  /* background-color: #9e8cf2; */
  margin: 0;
}
h1 {
  font-size: 3vw;
}
.welcome {
  font-size: 4vw;
  font-family: fantasy;

  text-transform: uppercase;
}
h1 span.name-heading-last {
  color: #fe3e89;
}
h1 span.name-heading {
  color: orange;
  font-size: 3vw;
}
p {
  text-align: justify;
}
div.half-width {
  width: 42%;
  margin: 0 20px;
  float: left;
}
.heading-h3 {
  font-size: 3vw;
  color: #fea500;
}
p span.highlight-span {
  color: white;
  font-size: 30px;
  font-weight: 30px;
  font-family: monospace, "Fira Code";
  background-color: #0000ffa9;
  font-style: italic;
  border-radius: 10px;
}
.link-button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(45deg, #ff003c5b, #ff0062);
  font-size: 2vw;
  font-family: cursive;
  font-weight: bold;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  cursor: hand;
}

.link-button:hover {
  font-size: 2.1vw;
  background-image: linear-gradient(45deg, #ff003c5b, #ff0062);
  color: white;
  text-justify: auto;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px;
  transition: 500ms;
}
section div.half-width img {
  width: 100%;
  /* margin-left: 7vw; */
}
section.top-section {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 20px;
  min-height: 85vh;
  max-height: fit-content;
}
section {
  padding: 1em;
  background-color: linear-gradient(90deg, #0000ffa9, #6969ffa9);
  min-height: 500px;
}
section.section-dream {
  margin-top: 20px;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-position: right;
  background-size: 100px;
  min-height: 500px;
  max-height: fit-content;
}

h1.heading-3 {
  color: #f78667;
}
h3.become-developer {
  color: #33a4ef;
  font-size: 5vh;
  font-family: consolas;
}
p.big-dream-para {
  color: gray;
  font-family: Consolas, monaco, monospace;
}
.float-left a.link-button {
  float: left;
  font-size: 10px;
  margin: 0 1%;
}
section.section-dream {
  margin-top: 30px;
  height: 550px;
}
.experience-section {
  justify-content: center;
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90px;
  height: 650px;
}
.experience-section div.half-width {
  float: left;
  height: 500px;
  width: 40vw;
  /* margin-left: 3vw; */
  border-radius: 10px;
}
.box {
  box-shadow: 5px 10px 30px rgb(160, 145, 145);
}
.pink-highlight {
  color: #fea500;
  font-size: larger;
}
.experience-heading {
  margin-left: 30px;
}
p {
  text-justify: auto;
}
#softwareEngineer {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, orange, red);
  border-image-slice: 1;
}
#mernLearn {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightblue, blue);
  border-image-slice: 1;
}
img#certificate {
  object-fit: cover;
  height: 50%;
  width: 90%;
  margin: 0 5px 5px 10px;
  box-shadow: 10px 10px 40 red;
}
.pink-highlight a {
  text-decoration: none;
  color: #fba508;
}
li {
  margin-bottom: 10px;
  color: #3a587e;
}
footer {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
}
footer p {
  position: relative;
  bottom: 0px;
  background-color: #d4cdcd;
  text-align: center;
  vertical-align: middle;
}
